* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

/* Cabeçalho */
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background-color: #f4f4f4;
        }

header .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.hero {
    text-align: center;
    padding: 50px 0;
    background-color: #ffffff;
    position: relative;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.whatsapp-link {
    position: absolute; /* O botão será posicionado em relação ao container pai */
    bottom: 20px; /* Espaçamento da borda inferior */
    right: 20px;  /* Espaçamento da borda direita */
}

.whatsapp-link a {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding: 25px;
}

.pratos {
    text-align: center;
    padding: 50px 0;
    background-color: #f1f1f1;
}

.pratos h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.pratos p {
    margin-bottom: 40px;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
}


.arrow-left, .arrow-right {
    font-size: 36px;
    cursor: pointer;
    color: #333;
}

.pratos-container {
    display: flex;
    gap: 20px;
    overflow: hidden;
    max-width: 800px;
}

.prato {
    min-width: 250px;
    text-align: center;
    transition: transform 0.5s ease-in-out;
}

.prato-img {
    width: 100%;
    height: 200px;
    background-color: #ccc;
    margin-bottom: 10px;
}

.botoes {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 16px;
}

.historia {
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
}

.historia h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.historia-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 40px;
}

.texto-historia {
    width: 50%;
}

.texto-historia p {
    margin-bottom: 20px;
}

.imagem-historia {
    width: 300px;
    height: 200px;
    background-color: #ccc;
}

.btn-historia {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
            background-color: #f1f1f1;
            padding: 20px;
            text-align: center;
        }